body{
/* background-image: url('./imgs/Galaxy.jpg'); */
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: 100%;
background-color: lightgray;
color: black;
}

.navbar{
    background-color: black;
}

.card-header{
    font-family: serif;
    background-color: gray;
    color: white;
    /* opacity: .75; */
}


.card-body{
background-color: white;
opacity: .75;
}

ul{
    list-style-type: none;
}

.skills-card-header :hover{
    background-color: darkgray;
}

.modal{
    color: black;
}

.site-card{
    background-color: black;
}

.footer{
    background-color: black;
}
/* .modal-header{
    background-color: black;
    color: white;
}

.modal-footer{
    background-color: black;
} */