body{
background-image: url('./imgs/Galaxy.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: 100%;
background-color: black;
color: black;
}


.card-header{
    font-family: serif;
    background-color: black;
    color: white;
    /* opacity: .75; */
}

.card{
    /* background-color: darkgray; */
    background-color: transparent;
}

.card-body{
background-color: darkgray;
opacity: .75;
}

ul{
    list-style-type: none;
}

.skills-card-header :hover{
    background-color: darkgray;
}

.modal{
    color: black;
}

.site-card{
    background-color: black;
}

/* .modal-header{
    background-color: black;
    color: white;
}

.modal-footer{
    background-color: black;
} */